body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  background: #f2f2f2;
}

#app {
  text-align: center;
}

button {
  padding: 12px 25px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#yesBtn {
  background: green;
  color: white;
}

#noBtn {
  background: red;
  color: white;
  position: absolute;
}
