* {
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body {
background:black;
color:white;
overflow:hidden;
text-align:center;
}

/* SCREENS */
.hidden { display:none; }

/* LOADING */
#loadingScreen {
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:black;
}

/* BUTTONS */
button {
padding:15px 30px;
border:none;
border-radius:30px;
cursor:pointer;
font-size:18px;
margin-top:20px;
background:#ff4081;
color:white;
}

/* SLIDESHOW */
#slideScreen {
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:black;
}

#slideImg {
max-width:90%;
max-height:90%;
border-radius:20px;
transition:1s;
}

/* FINAL SCREEN */
#finalScreen {
height:100vh;
padding:40px;
background:radial-gradient(circle,#1a1a2e,#000);
}

.finalText {
margin:20px;
font-size:20px;
line-height:2;
}

/* HEARTS */
.heart {
position:fixed;
color:#ff4081;
font-size:20px;
animation:floatUp 6s linear forwards;
}

@keyframes floatUp {
from {transform:translateY(0); opacity:1;}
to {transform:translateY(-100vh); opacity:0;}
}

/* NO BUTTON */
.no-btn {
position:fixed;
background:white;
color:black;
}

/* YES BUTTON */
.yes-btn {
background:#ff4081;
color:white;
}

/* SECRET OUTPUT */
#secretOutput {
margin-top:15px;
font-size:18px;
color:#ff79c6;
}
